html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  background-image: url("../../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }
}

.baner {
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
  height: 650px;
}

.baner__logo {
  width: 292px;
  height: 138px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 45px;
}

.baner__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.baner__title {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
  color: #014ab1;
  font-family: "Century Gothic";
  font-size: 43px;
  font-weight: 700;
  text-transform: uppercase;
}

.baner__sub-title {
  position: relative;
  width: 100%;
  text-align: center;
  color: #014ab1;
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.baner__white-bg {
  position: absolute;
  top: 310px;
  z-index: 2;
  width: 100%;
  background-image: url("../../img/white-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  background-position-y: 30px;
}

.baner__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.baner__author-text {
  position: relative;
}

.baner__author-title {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  color: #014ab1;
  font-family: Calibri;
  font-size: 32px;
  font-style: italic;
}

.baner__author-descr {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: #014ab1;
  font-family: Calibri;
  font-size: 22px;
  font-style: italic;
}

.baner__author-img {
  position: relative;
  top: 20px;
  width: 272px;
  height: 271px;
  overflow: hidden;
}

.baner__author-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.baner__mirror {
  position: absolute;
  top: 613px;
  width: 100%;
  height: 300px;
  background-image: url("../../img/mirror.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.baner__count {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}

.baner__count-elem {
  position: relative;
}

.baner__count-title {
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  color: #014ab1;
  font-family: "Century Gothic";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.baner__count-num {
  width: 100%;
  text-align: center;
  color: #014ab1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Century Gothic";
  font-size: 74px;
  font-weight: 700;
  text-transform: uppercase;
}

.baner__count-descr {
  width: 100%;
  text-align: center;
  color: #014ab1;
  font-family: "Century Gothic";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.partner {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 30px;
}

.partner__title {
  position: relative;
  width: 100%;
  text-align: center;
  color: #014ab1;
  font-family: "Century Gothic";
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.partner__triang-top {
  position: absolute;
  top: -155px;
  width: 100%;
  background-image: url("../../img/triangle-top.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.partner__bg {
  position: relative;
  top: 30px;
  float: left;
  width: 100%;
  height: 185px;
  background-image: url("../../img/partner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.partner__box {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 210px;
}

.partner__box-elem {
  position: relative;
}

.partner__box-img {
  height: 110px;
  overflow: hidden;
  margin: 0 auto;
}

.partner__box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

/*# sourceMappingURL=styles.css.map */
