section.baner
    .container
        .baner__logo
            img(src="img/logo.png")

        h1.baner__title
            | Таргет и SMM

        h3.baner__sub-title
            | Instagram, Facebook и Вконтакте

.baner__white-bg
    .container
        .baner__author
            .baner__author-img
                img(src="img/author.png")

            .baner__author-text
                h3.baner__author-title
                    | Увеличиваем прибыль вашего бизнеса,
                    br
                    | а не количество подписчиков!

                p.baner__author-descr
                    | Александр Верга
.baner__mirror
.container
        .baner__count
            .baner__count-elem
                p.baner__count-title
                    | Более
                p.baner__count-num
                    | 130
                p.baner__count-descr
                    | реализованных  проектов

            .baner__count-elem
                p.baner__count-title
                    | Более
                p.baner__count-num
                    | 2 000 000
                p.baner__count-descr
                    | рекламного бюджета ежемесячно

            .baner__count-elem
                p.baner__count-title
                    | Более
                p.baner__count-num
                    | 100
                p.baner__count-descr
                    | КОНСУЛЬТАЦИЙ

            .baner__count-elem
                p.baner__count-title
                    | Более
                p.baner__count-num
                    | 150
                p.baner__count-descr
                    | экспертных  статей