section.baner
    .container
        .baner__logo
            img(src="img/logo.png")

        h1.baner__title
            | Таргет и SMM Instagram, Facebook и Вконтакте
.baner__white-bg
    .container
        .baner__author
            .baner__author-img
                img(src="img/author.png")

            .baner__author-text
                h3.baner__author-title
                    | Увеличиваем прибыль вашего бизнеса,
                    br
                    | а не количество подписчиков!

                p.baner__author-descr
                    | Александр Верга