section.partner
    h3.partner__title
        | Наши партнеры
.partner__static
    .partner__triang-top
.partner__bg
        .container
            .partner__box
                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-1.png")

                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-2.png")

                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-3.png")


                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-4.png")

                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-5.png")

                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-6.png")

                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-7.png")


                .partner__box-elem
                    .partner__box-img
                        img(src="img/part-8.png")