section.service
    .container
        h3.service__title
            | наши услуги

        .service__box
            .service__box-elem
                p.service__box-title
                    | Подготовка площадок к трафику

            .service__box-elem
                p.service__box-title
                    | Лидогенерация

            .service__box-elem
                p.service__box-title
                    | Контент маркетинг

            .service__box-elem
                p.service__box-title
                    | Таргетинг Instagram, FB, VK

            .service__box-elem
                p.service__box-title
                    | Комплексное продвижение

        .service__descr-box
            a(href="http://vk.me/tceh.agency").service__descr-elem
                .service__descr-title
                    | Обсудить проект/получить консультацию

            a(href="https://deeplinkr.com/hxFkg9").service__descr-elem
                .service__descr-title
                    | Отзывы о нашей работе

            a(href="https://deeplinkr.com/hxFkgb").service__descr-elem
                .service__free
                    .service__free-title
                        | Получить бесплатно

                .service__descr-title
                    | Реклама у блогеров: Подробный гайд от поиска до сделки

            a(href="https://deeplinkr.com/hxFkga").service__descr-elem
                .service__descr-title
                    | Наши статьи и кейсы

        .service__social
            .service__social-box
                a(href="https://deeplinkr.com/hxFkgc").service__social-elem
                    img(src="img/vk.png")

                a(href="https://deeplinkr.com/hxFkgd").service__social-elem
                    img(src="img/insta.png")